.icon-preview {
    display: inline-flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    border-radius: 50%;
    border: 1px solid var(--background-modifier-border);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-icon.workspace-tab-header[data-icon-id] .workspace-tab-header-inner-icon > svg {
    display: none;
}

.custom-icon.workspace-tab-header[data-icon-id] .workspace-tab-header-inner-icon::before {
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: transparent;
    background-blend-mode: normal;
    background-image: var(--bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}