.ci-floating-container {
  /* display: flex; */
  margin: 2px 0px 0px 0px;
}
.iconPanel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--interactive-normal);
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--radius-s);
  padding: 0px 4px 2px 4px;
}
.iconPanel .iconPanel-Header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px 8px 0px;
}
.iconPanel-Header select.form-select {
  display: flex;
}
.iconPanel-Header input.form-input {
  display: flex;
  flex: 1;
}
.iconPanel .iconPanel-Body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 190px;
  border-top: 1px solid var(--background-modifier-border);
}
.iconPanel-Body .selector-Header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
.selector-Header .selector-Search {
  display: flex;
  flex: 1;
}
.selector-Header .selector-Search .selector-Search-Input {
  display: flex;
  flex: 1;
}
.selector-Header .selector-Random {
  display: flex;
  /* margin-right: 25px; */
}
.iconPanel-Body .selector-Body {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
  overflow-y: auto;
  width: 260px;
}
.selector-Body .selector-Body-Inner {
  width: 100%;
  position: relative;
}
.selector-Body .selector-Row {
  display: flex;
  gap: 8px;
}
.selector-Body .selector-Cell {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--background-primary-alt);
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--radius-s);
  color: var(--text-muted);
}