.ci-setting-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 140px;
}

.default-icon-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;
  min-height: 50px;
  padding: 8px;
}
.default-icon-form .form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  border: 1.5px solid var(--background-modifier-border);
  border-radius: 8px;
  min-height: 50px;
  padding: 8px;
}
.icons-form .form-item {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1px solid var(--background-modifier-border); */
  /* border-radius: 8px; */
  border-bottom: 1px solid var(--background-modifier-border);
  padding: 4px;
  padding-bottom: 8px;
}
.icons-form .form-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  flex: 1;
}
.icons-form .form-content .form-label {
  min-width: 200px;
}
.icons-form .form-content input.form-input {
  display: flex;
  flex: 1;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid var(--background-modifier-border);
}
.icons-form .form-content input.form-input:focus {
  box-shadow: none;
  border-bottom: 1px solid var(--background-modifier-border-focus);
}
.icons-form .form-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons-form .form-select {
  box-shadow: none;
  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;
  flex: 1;
}
.menu-item {
  color: var(--text-faint);
}
.menu-item:hover {
  color: var(--text-accent);
}
.menu-item button {
  color: var(--text-faint);
}
.menu-item button:hover {
  color: var(--text-accent);
}
.menu-item.ci-add {
  display: flex;
  justify-content: flex-end;
}
.ci-setting-form .form-title {
  font-weight: bold;
}
.form-item .form-image .form-image-preview {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0px var(--background-modifier-border);
}
.form-item .form-image .form-image-preview img {
  width: 80%;
  height: 80%;
  overflow: hidden;
}