:root {
  --tab-font-size: 14px;
  --subTab-font-size: 12px;
}

.ci-setting-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.ci-setting-title .ci-setting-tip {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text-muted);
}
.ci-setting-header {
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 3px;
}
.ci-setting-header .ci-setting-tab-group {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid var(--background-modifier-border);
  margin-bottom: 3px;
}
.ci-setting-header .ci-setting-subTab-group {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid var(--background-modifier-border);
  margin-bottom: 3px;
}

.ci-setting-header .ci-tab {
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  color: var(--text-muted);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  font-size: var(--tab-font-size);
}
.ci-setting-header .ci-subTab {
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  color: var(--text-muted);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  font-size: var(--subTab-font-size);
}
.ci-setting-header .ci-tab:hover {
  background-color: var(--background-modifier-hover);
  color: var(--text-normal);
  border-radius: 3px;
}
.ci-setting-header .ci-subTab:hover {
  background-color: var(--background-modifier-hover);
  color: var(--text-normal);
  border-radius: 3px;
}
.ci-setting-header .ci-tab.active {
  transform: translateY(2px);
  border: 1px solid var(--interactive-accent);
  background-color: var(--background-primary);
  color: var(--text-accent);
  border-radius: 3px;
  border-bottom-color: transparent;
}
.ci-setting-header .ci-subTab.active {
  border: 1px solid var(--interactive-accent);
  background-color: var(--background-primary);
  color: var(--text-accent);
  border-radius: 100px;
}
.ci-setting-header .ci-fill {
  border: 1px solid transparent transparent;
  width: 100%;
}