.csbi-setting-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.csbi-setting-header {
    margin-bottom: 24px;
    overflow-y: hidden;
    overflow-x: auto;
}
.csbi-setting-header .csbi-setting-tab-group {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid var(--background-modifier-border);
}
.csbi-setting-header .csbi-tab{
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    border-left: 2px solid #0000;
    border-right: 2px solid #0000;
}
.csbi-setting-header .csbi-tab.csbi-tab-active{
    transform: translateY(2px);
    border-radius: 2px;
    border: 2px solid var(--background-modifier-border);
    border-bottom-color: var(--background-primary);
}
.csbi-setting-content {
    height: calc(100% - 10rem);
}
.csbi-fill {
    border: 2px solid #0000;
    width: 100%;
}

.icon-preview {
    display: inline-flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    border-radius: 50%;
    border: 1px solid var(--background-modifier-border);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-icon.workspace-tab-header[data-icon-id] .workspace-tab-header-inner-icon > svg {
    display: none;
    visibility: hidden;
}

/* .custom-icon.workspace-tab-header[data-icon-id] .workspace-tab-header-inner-icon::before {
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: transparent;
    background-blend-mode: normal;
    background-image: var(--bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */

/* .custom-icon.nav-folder-title[data-icon-id] .nav-folder-title-content::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 0px -4px 0px;
    background-color: transparent;
    background-blend-mode: normal;
    background-image: var(--icon);
    background-size: contain;
    background-repeat: no-repeat;
} */
/* .custom-icon.nav-folder-title[data-icon-id] .custom-icon-folder {
    display: flex;
    align-items: center;
    margin: 0 4px 0 0;
    width: 16px;
    height: 16px;
} */